<!-- Card Showcase/Test -->
<app-card
  type="cartographer"
  [item]="false"
  [price]="4"
  [buyingPower]="0.5"
  displayName="cartographer"
  description="Draw 2 cards from you draw pile."
  [walkingPower]=""
  [power]="2"
  color="purple">
</app-card>

<app-card
  type="native"
  [item]="false"
  [price]="5"
  [buyingPower]="0.5"
  displayName="native"
  description="Move your playing piece onto an adjacent space."
  [walkingPower]=""
  [power]=""
  color="purple">
</app-card>

<app-card
  type="transmitter"
  [item]="true"
  [price]="4"
  [buyingPower]="0.5"
  displayName="transmitter"
  description="Choose any one card from the market (off board cards are allowed) and place it on your discard pile."
  [walkingPower]=""
  [power]=""
  color="purple">
</app-card>

<app-card
  type="travel log"
  [item]="true"
  [price]="3"
  [buyingPower]="0.5"
  displayName="travel log"
  description="Draw 2 cards from your draw pile. Then choose up to 2 cards in your hand and remove them from the game."
  [walkingPower]=""
  [power]="2"
  color="purple">
</app-card>

<app-card
  type="scientist"
  [item]="false"
  [price]="4"
  [buyingPower]="0.5"
  displayName="scientist"
  description="Draw 1 card from your draw pile. Then choose up to 1 card in your hand and remove it from the game."
  [walkingPower]=""
  [power]="1"
  color="purple">
</app-card>

<app-card
  type="compass"
  [item]="true"
  [price]="2"
  [buyingPower]="0.5"
  displayName="compass"
  description="Draw 3 cards from your draw pile."
  [walkingPower]=""
  [power]="3"
  color="purple">
</app-card>

<app-card
  type="treasure chest"
  [item]="true"
  [price]="3"
  [buyingPower]="4"
  displayName="treasure chest"
  description=""
  [walkingPower]="4"
  [power]=""
  color="yellow">
</app-card>

<app-card
  type="millionaire"
  [item]="false"
  [price]="5"
  [buyingPower]="4"
  displayName="millionaire"
  description=""
  [walkingPower]="4"
  [power]=""
  color="yellow">
</app-card>

<app-card
  type="journalist"
  [item]="false"
  [price]="3"
  [buyingPower]="3"
  displayName="journalist"
  description=""
  [walkingPower]="3"
  [power]=""
  color="yellow">
</app-card>

<!-- Here the price is technically 0, but it would make more sense (and be easier to use) if it wouldnt have price!-->
<app-card
  type="traveler"
  [item]="false"
  [price]="0"
  [buyingPower]="1"
  displayName="traveler"
  description=""
  [walkingPower]="1"
  [power]=""
  color="yellow">
</app-card>

<app-card
  type="photographer"
  [item]="false"
  [price]="2"
  [buyingPower]="2"
  displayName="photographer"
  description=""
  [walkingPower]="2"
  [power]=""
  color="yellow">
</app-card>

<app-card
  type="adventurer"
  [item]="false"
  [price]="4"
  [buyingPower]="2"
  displayName="adventurer"
  description=""
  [walkingPower]="2"
  [power]=""
  color="white">
</app-card>

<app-card
  type="jack of all trades"
  [item]="false"
  [price]="2"
  [buyingPower]="1"
  displayName="jack of all trades"
  description=""
  [walkingPower]="1"
  [power]=""
  color="white">
</app-card>

<app-card
  type="prop plane"
  [item]="true"
  [price]="4"
  [buyingPower]="0.5"
  displayName="prop plane"
  description=""
  [walkingPower]="4"
  [power]=""
  color="white">
</app-card>

<app-card
  type="explorer"
  [item]="false"
  [price]="0"
  [buyingPower]="0.5"
  displayName="explorer"
  description=""
  [walkingPower]="1"
  [power]=""
  color="green">
</app-card>

<app-card
  type="scout"
  [item]="false"
  [price]="1"
  [buyingPower]="0.5"
  displayName="scout"
  description=""
  [walkingPower]="2"
  [power]=""
  color="green">
</app-card>

<app-card
  type="pioneer"
  [item]="false"
  [price]="5"
  [buyingPower]="0.5"
  displayName="pioneer"
  description=""
  [walkingPower]="5"
  [power]=""
  color="green">
</app-card>

<app-card
  type="trailblazer"
  [item]="false"
  [price]="3"
  [buyingPower]="0.5"
  displayName="trailblazer"
  description=""
  [walkingPower]="3"
  [power]=""
  color="green">
</app-card>

<app-card
  type="giant machete"
  [item]="true"
  [price]="3"
  [buyingPower]="0.5"
  displayName="giant machete"
  description=""
  [walkingPower]="6"
  [power]=""
  color="green">
</app-card>

<app-card
  type="sailor"
  [item]="false"
  [price]="0"
  [buyingPower]="0.5"
  displayName="sailor"
  description=""
  [walkingPower]="1"
  [power]=""
  color="blue">
</app-card>

<app-card
  type="captain"
  [item]="false"
  [price]="2"
  [buyingPower]="0.5"
  displayName="captain"
  description=""
  [walkingPower]="3"
  [power]=""
  color="blue">
</app-card>
